<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTPS} off 
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(jpg|jpeg|png|gif|swf|otf|ico)$">
      Header set Cache-Control "max-age=604800, public"
  </FilesMatch>

  <FilesMatch "\.(js|css|swf)$">
      Header set Cache-Control "max-age=604800"
  </FilesMatch>
</IfModule>